@import "../../scss/variables";
@import "../../scss/mixins";

.container {
  width: 100%;
  .lesson-header {
    font-family: $header-font;
    color: $text-color;
    text-align: center;
    margin: 1rem;
  }
  .lesson-container {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.288);
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @include flex(center);
    .lessons {
      width: 350px;
      height: 175px;
      @include flex(start);
      img {
        width: 100px;
        border-radius: 10px;
        height: 100px;
      }
      .lesson {
        color: $text-color;
        span {
          color: $text-title-color;
          font-weight: bolder;
          font-size: 16px;
        }
      }
    }
  }
}
