@import "../../scss/variables";
@import "../../scss/mixins";

.header {
  width: 100%;
  background-color: rgba(100, 148, 237, 0.514);
  height: 12vh;
  display: flex;
  justify-content: start;
  align-items: center;
  img {
    height: 8vh;
    margin: 1rem;
  }
}
